{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle Offre' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Creation  d'une offre</h1>

            {{ include('offres/_form.html.twig') }}
        </div>
    </div>
{% endblock %}