{% extends 'layouts/base.html.twig' %}

{% block title 'Editer Offre #' ~ offre.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Editer Offre #{{ offre.id }}</h1>

            {{ include('offres/_form.html.twig', {'submitButtonText': "Modifier l'offre"}) }}
        </div>
    </div>
{% endblock %}